.telaCompleta {
    background-color: bisque;
    display: flex;
    justify-content: center;
}

.textoDigitado,
.textoResposta {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px; /* Adicione um espaço entre os campos de texto */
}

.campoDigitado,
.campoResposta {
    margin: 10px 0; /* Adicione margens no topo e na parte inferior */
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 50%;
}

.cripto,
.descripto,
.botaoCopiar {
    width: 100%;
    margin-bottom: 10px; 
    border: none;
    border-radius: 50px;
    padding: 10px
}

.cripto{
    background-color: green;
    color: white;
}

.descripto{
    background-color: red;
    color: white;
}

.botaoCopiar{
    background-color: blue;
    color: white;
}

@media (min-width: 600px) { /*dispositivos maiores*/
    .textoDigitado,
    .textoResposta {
        width: 100%;
        height: 200px  
    }

    .botoes {
        flex-direction: row;
        display: flex;
        justify-content: center;
    }

    .cripto,
    .descripto,
    .botaoCopiar {
        width: auto; 
        margin-bottom: 0; 
        margin-right: 10px; 
    }
}

@media (max-width: 600px) { /*dispositivos menores*/
    .textoDigitado,
    .textoResposta {
        width: 100%; 
        height: 100px;
    }

}

